/* フォント定義 */
@font-face {
    font-family: 'UDKakugoLarge';
    src: url('./assets/fonts/FOT-UDKakugo_LargePr6-M.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'UDKakugoLarge';
    src: url('./assets/fonts/FOT-UDKakugo_LargePr6-DB.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'UDKakugoLarge';
    src: url('./assets/fonts/FOT-UDKakugo_LargePr6-B.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'UDKakugoLarge';
    src: url('./assets/fonts/FOT-UDKakugo_LargePr6-E.otf') format('opentype');
    font-weight: 800; /* 極太 */
}

/* 全体に適用 */
:root {
    --warning-red: #d32f2f;
    --navy-blue: #1a237e;
    --text-white: #ffffff;
    --bg-dark: #121212;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-dark);
    font-family: 'UDKakugoLarge', sans-serif; /* 追加したフォントを優先 */
    color: var(--text-white);
    width: 1920px;
    height: 1080px;
    display: grid;
    grid-template-columns: 1380px 540px;
    grid-template-rows: 930px 150px;
}
